html, body {
    height: 100%;
    margin: 0;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

body {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

#app {
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: auto;
}